<!-- FILEPATH: /c:/Users/NewOver/Desktop/totem-universidad/templates/deportes.html -->
<!-- 
    Template para la página de reservas de deportes.
    Permite al usuario reservar un área recreativa seleccionando el deporte deseado.
    El formulario envía los datos a la ruta "/reservar-deporte" mediante el método POST.
    El formulario incluye campos para el nombre, el nombre de usuario y la selección del deporte.
    También se muestra un botón para regresar al perfil del usuario.
    Se incluyen enlaces a hojas de estilo y scripts externos.
-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Deportes</title>
    <link rel="stylesheet" href="../static/reserva.css">
</head>
<body>
    <div class="login-container">
        <h1>Reservar Área Recreativa</h1>
        <form action="/reservar-deporte" method="POST">
            <fieldset>
                <legend>Detalles de Reserva</legend>
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required><br><br>
                <label for="username">Username:</label>
                <input type="text" id="rut" name="username" ><br><br>
                <label for="deportes">Seleccionar Deporte:</label>
                <select id="deportes" name="deportes">
                    {% for deporte in deportes %}
                    <option value="{{ deporte['nombre'] }}">{{ deporte['nombre'] }}</option>
                    {% endfor %}
                </select>
                <br>
                <input type="submit" value="Reservar">
            </fieldset>
        </form>
    <br>
    <button class="back-button">
        <a href="/user_profile">Regresar a tu perfil</a>
    </button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="../static/js/script.login.js"></script>
</body>
</html>
