<!-- FILEPATH: /c:/Users/NewOver/Desktop/totem-universidad/templates/deportes_liberado.html -->

<!-- 
    Esta plantilla representa la página para liberar un deporte ocupado.
    Contiene un formulario donde se muestra el deporte ocupado y permite al usuario liberarlo.
    También incluye un enlace para regresar al perfil del usuario.
-->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Liberar Deporte</title>
    <link rel="stylesheet" href="../static/reserva.css">
</head>
<body>
    <div class="login-container">
        <h1>Liberar Deporte</h1>
        <p>Estás utilizando el siguiente deporte:</p>
        <form action="/liberardeporte" method="POST">
            <fieldset>
            <label for="deporte">Deporte Ocupado:</label>
            <input type="text" id="deporte" name="deporte" value="{{ nombre_deporte }}" readonly><br><br>
            <input type="submit" value="Liberar">
        </fieldset>
    </form>
    <br>
    <button class="back-button">
        <a href="/user_profile">Regresar a tu perfil</a>
    </button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="../static/js/script.login.js"></script>
</body>
</html>
